*{
    margin :0;
    padding: 0;
}

#header{

    background:url(./rain.jpg) no-repeat center top;
    padding-top: 140px;
    text-align: center;
    color: white;
    background-position: center center;
    min-height:510px;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size: 100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

#btn btn-Im btn-lg{
    padding: 5x 13px;
    display: inline-block;
}



#section{
    background:url(./univ.jpg) no-repeat center top;
    padding-top: 140px;
  
    color: white;
    background-position: center center;
    min-height:390px;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size: 100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

.text-overlay{
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff; /* text color */
  font-size: 24px; /* text font size */
}


.btn{
    color: white;
    
}

.head{
    margin-top: 2%;
    text-align: center;
}

.card{
  
    margin-right: 5%;
    margin-left: 10%;
    justify-content: space-between;
}

.col-sm-4{
    
    text-align: center;
    
}

/* Heading 6-image */
.heading{
    text-align: center;
    margin-top: 37px;
    margin-bottom: 37px;
}


/* Button  */
.center{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* footer */
.select{
    text-align:center;
}



.img{
    max-width: 230px;
    max-height: 190px;
    justify-content: center;
    align-items: center;

}

/* --------------- */


.custom-style {
    color: white;
    background-color: #2F2F2F;
    text-align: center;
  }


